* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: Raleway;
  font-style: normal;
}
body {
  background-color: #e2e7ec;
}
main {
  padding: 10px 160px;
}

.first-element {
  background: url(../img/Car.png) center center no-repeat;
  background-clip: content-box;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.first-element div {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin: 11px 297px 11px 24px;
}

.first-element h1 {
  color: rgb(255, 255, 255);
}
.first-element p {
  color: rgb(255, 255, 255, 0.5);
  margin-bottom: 10px;
}

.row > div {
  margin-top: 20px;
}
p {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;

  color: #818181;
}
h1 {
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;

  color: #1d1d1d;
}

div > img:first-child {
  width: 100%;
}
.comment-block {
  padding: 25px;
  background-color: #fff;
}
.comment-block h1 {
  margin: 20px 0 71px 0;
}
.row > div {
  font-size: 0;
}
